<section class="content-header">
</section>

<section class="content">
  <div class="jumbotron welcome-jumbotron" style="background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(86, 27, 19,
  0.2)), to(rgba(221, 75, 57, 0)), color-stop(1, #000))">
    <section class="content-header">
      <h1>
        Conheça nossos pratos
        <a class="search-link pull-right">
          <span><small></small></span> <i class="fa fa-search"></i>
        </a>
      </h1>

    <!-- barra de busca-->
    <div class="row">
      <div class="col-xs-12 col-12 col-sm-12 col-md-6 search-bar">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="O que você está procurando?">
          </div>
        </form>
      </div>
    </div>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-6 col-sm-6 col-xs-12">
          <a href="#">
            <div class="place-info-box">
              <span class="place-info-box-icon"><img src="../assets/img/fettuccine.jpg" /></span>

              <div class="place-info-box-content">
                <span class="place-info-box-text">Fettuccine</span>
                <span class="place-info-box-star"><i class="fa fa-star"> 4.7</i></span>
                <span class="place-info-box-detail">Fettuccine é um tipo de massa popular na culinária romana e toscana.</span>
                <span class="place-info-box-detail">E é um dos nossos pratos mais pedidos</span>
              </div>
              <!-- /.info-box-content -->
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-6 col-xs-12">
          <a href="#">
            <div class="place-info-box">
              <span class="place-info-box-icon"><img src="../assets/img/lasanha.jpg" /></span>

              <div class="place-info-box-content">
                <span class="place-info-box-text"></span>
                <span class="place-info-box-star"><i class="fa fa-star"> 5.0</i></span>
                <span class="place-info-box-detail">Lasanha</span>
                <span class="place-info-box-detail">Que tal uma lasanha bolonhesa?</span>
              </div>
              <!-- /.info-box-content -->
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-6 col-xs-12">
          <a href="#">
            <div class="place-info-box">
              <span class="place-info-box-icon"><img src="../assets/img/churrasco.jpg" /></span>

              <div class="place-info-box-content">
                <span class="place-info-box-text">Churrascos</span>
                <span class="place-info-box-star"><i class="fa fa-star"> 4.9</i></span>
                <span class="place-info-box-detail">Churrasco Misto</span>
                <span class="place-info-box-detail">Gosta de uma boa carne? Venha e aproveite!</span>
              </div>
              <!-- /.info-box-content -->
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-6 col-xs-12">
          <a href="#">
            <div class="place-info-box">
              <span class="place-info-box-icon"><img src="../assets/img/rocambole.jpg" /></span>

              <div class="place-info-box-content">
                <span class="place-info-box-text">Rocamboles</span>
                <span class="place-info-box-star"><i class="fa fa-star"> 5.0</i></span>
                <span class="place-info-box-detail">Rocambole Floresta Negra</span>
                <span class="place-info-box-detail">Venha conhecer esse e muitos outros da nossas especiarias</span>
              </div>
              <!-- /.info-box-content -->
            </div>
          </a>
        </div>
      </div>
    </section>
  </div>
</section>