<section class="content-header">
  </section>
  
  <section class="content">
    <div class="jumbotron welcome-jumbotron" style="background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(86, 27, 19,
    0.2)), to(rgba(221, 75, 57, 0)), color-stop(1, #000))">
      <section class="content-header">
        <h1>
          Encontre um dos nossos restaurantes mais perto de você
        </h1>
  
      <!-- barra de busca-->
      <div class="row">
        <div class="col-xs-12 col-12 col-sm-12 col-md-6 search-bar">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Não achou? Tente com seu CEP aqui">
            </div>
          </form>
        </div>
      </div>
      </section>
      <section class="content">
        <div class="row">
          <div class="col-6 col-sm-6 col-xs-12">
            <a href="#">
              <div class="place-info-box">
                <span class="place-info-box-icon">Nova Iguaçu</span>
  
                <div class="place-info-box-content">
                  <span class="place-info-box-text">Tão Tão Longe Rest</span>
                  <span class="place-info-box-star"><i class="fa fa-map"></i></span>
                  <span class="place-info-box-detail">R. Athaide Pimenta de Morais, 435</span>
                  <span class="place-info-box-detail">Centro, Nova Iguaçu - RJ, 26210-200</span>
                </div>
                <!-- /.info-box-content -->
              </div>
            </a>
          </div>
          <div class="col-6 col-sm-6 col-xs-12">
            <a href="#">
              <div class="place-info-box">
                <span class="place-info-box-icon">Centro</span>
  
                <div class="place-info-box-content">
                  <span class="place-info-box-text"></span>
                  <span class="place-info-box-star"><i class="fa fa-map"> </i></span>
                  <span class="place-info-box-detail"></span>
                  <span class="place-info-box-detail"></span>
                </div>
                <!-- /.info-box-content -->
              </div>
            </a>
          </div>
          <div class="col-6 col-sm-6 col-xs-12">
            <a href="#">
              <div class="place-info-box">
                <span class="place-info-box-icon">Niterói</span>
  
                <div class="place-info-box-content">
                  <span class="place-info-box-text"></span>
                  <span class="place-info-box-star"><i class="fa fa-map"> </i></span>
                  <span class="place-info-box-detail"></span>
                  <span class="place-info-box-detail"></span>
                </div>
                <!-- /.info-box-content -->
              </div>
            </a>
          </div>
          <div class="col-6 col-sm-6 col-xs-12">
            <a href="#">
              <div class="place-info-box">
                <span class="place-info-box-icon">Bonsucesso</span>
  
                <div class="place-info-box-content">
                  <span class="place-info-box-text"></span>
                  <span class="place-info-box-star"><i class="fa fa-map"> </i></span>
                  <span class="place-info-box-detail"></span>
                  <span class="place-info-box-detail"></span>
                </div>
                <!-- /.info-box-content -->
              </div>
            </a>
          </div>
        </div>
      </section>
    </div>
  </section>